@use '../../assets/styles/variables.scss' as *;

.home {
  min-height: 100vh;
  background-color: $background;

  .main {
    max-width: $breakpoint-xl;
    margin: 0 auto;
    padding: $spacing-4;
    display: flex;
    flex-direction: column;
    gap: $spacing-12;

    @media (max-width: $breakpoint-lg) {
      gap: $spacing-8;
      padding: $spacing-4 $spacing-3;
    }

    @media (max-width: $breakpoint-sm) {
      gap: $spacing-6;
      padding: $spacing-4 $spacing-2;
    }
  }
}