@use './variables.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  background-color: $background;
  color: $text-primary;
  -webkit-font-smoothing: antialiased;
  
  // Estilização da barra de rolagem
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: rgba($text-primary, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $primary-dark;
  }
}

button {
  font-family: inherit;
}